h1{
    color: white;
    margin-left: 15px;

}

p{
    color: white;
    margin-left: 15px;
}

.Logo{
    width: 150px;
    right: 250px;
}

.tabelas{
    display: flex;
    margin : 0 100px;
}

.LogoTexto{
    display: flex;
    align-items: center;
    

}

.LogoTexto h1{
    padding: 0px;
}