*{
    
    padding: 0;
    
}


.Logo{
    height: 150px;
    width: 150px;
}


h1{
    color: white;
    margin-left: 15px;
}

h2{
    color: white;
    margin-left: 170px;
    
}


.Home{
    background-color: black;
    font-size: x-large;
}

.nav-bar ul{
    display: flex;
    list-style-type: none;
    color: white;
    margin-left: 180px;

}

li{
    margin-top: 500px;
    margin-right: 20px ;
}

ul{
    justify-content: start;
}


.Home{
    align-items: center;

}

.Home h1{
    padding: 0px;
}




.Home{
    display: flex;
    align-items: center;

}

.Home h1{
    padding: 0px;
}