h1{
    padding-left: 100px;
    padding-bottom: 100px;
 
}

.SobreMim p{
    color: white;
    padding-left: 15px;
    margin : 0 100px;
    text-align: justify;
}

.LogoText{
    display: flex;
    align-items: center;
    font-size: xx-large;

}

.LogoText h1{
    padding: 0px;
}